{# templates/default/countdown.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">Countdown Test</h1>
        <p class="lead">Here are some statistics about my age along with a very pretty photo of myself...</p>
        <div class="row">
     	    <div class="col-md-6">
            <p class="birhday-date">My next birthday is on {{ nextBirthdayStringFormatted }}.</p>
            <p class="birhday-date">I am currently {{ currentAge }} years old (Born on {{ birthdayStringFormatted }}).</p>
            <p class="birhday-date">It is {{ nextBirthdayMonths }} months, {{ nextBirthdayDays }} days, {{ nextBirthdayHours }} hours, {{ nextBirthdayMinutes }} minutes and {{ nextBirthdaySeconds }} seconds until my {{ nextAgePretty }} birthday.</p>
          </div>
          <div class="col-md-6">
            <p><img class="person-image" src="{{ asset('build/images/people/elliott.landsborough.jpg') }}" alt="Photo of Elliott Landsborough" /></p>
          </div>
        </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>Created by Elliott Landsborough. <a href="https://github.com/ElliottLandsborough/" target="_blank">View my github...</a></p>
      </div>
    </footer>
{% endblock %}
